:root {
    --sand-color: rgb(246, 185, 93);
    --light-ocean-color: rgb(9, 199, 237);
    --medium-ocean-color: rgba(9, 199, 237, 0.75);
    --dark-ocean-color: rgba(9, 199, 237, 0.463);
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--sand-color);
}

div#content {
    margin: 2vw 2vh;
    background-color: var(--medium-ocean-color);

    border-radius: 1em;
}

/*  */

div.bar {
    display: flex;

    align-items: center;
    justify-content: center;
}

div.bar.top {
    height: 6vh;
    gap: 20vw;
    
    background-color: var(--sand-color);
}

nav {
    display: flex;

    justify-content: space-evenly;
    align-items: end;
}

nav button {
    margin-top: 2vh;

    background-color: var(--sand-color);
    border: 0.1em white solid;

    padding: 2vh 2vw;
    border-radius: 1em;

    font-size: 0.9em;
}

nav button:hover {
    background-color: var(--dark-ocean-color);
    font-weight: bold;  
}

/* --------------- */
/* HEADER SECTION */
/* --------------- */

div#restaurant_name {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 1vw;
}

div#restaurant_name img {
    width: 5vw;
    height: auto;

    transform: rotate(-10deg);
}

div#restaurant_name img#left {
    transform: scaleX(-1) rotate(-10deg);
}

/* ABOUT SECTION */
div#about_section {
    display: flex;
    flex-direction: column;

}